.container {
  padding: 2rem;
  width: max-content;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.212); 
  border-radius: 0.5rem;
}

input, button {
  font-size: 1rem;
  padding: 0.7rem;
  border-radius: 0.2rem;
}
input {
  /* css 적용 우선순위 실험 */
  /* display: block; */
  width: 15rem;
  margin: 0.2rem 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

button {
  display: inline;
  margin: 0.5rem 0;
  width: 16.5rem;
  background-color: rgb(221, 239, 255);
  border: none;
  outline: none;
}

button:hover {
  background-color: rgb(204, 231, 255);
}